p {
  margin-top: 0;
  font-family: Arial;
  margin-bottom: 0;
}

.video-title {
  font-size: 22px;
  width: 313px;
  margin-bottom: 10px;
}

.video-stats {
  font-size: 20px;
  color: gray;
  margin-bottom: 20px;
}

.video-author {
  color: gray;
  margin-bottom: 20px;
}

.video-description {
  font-size: 16px;
  width: 300px;
  margin-bottom: 60px;
}

.video-info {
  font-size: 14px;
  background-color: red;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: white;
}

.shop {
  cursor: pointer;
}

.shop:hover {
  text-decoration: underline;
}